html{
    scroll-behavior: smooth;
}
body {
    background-color: #dedede;
    padding: 5px;
    margin: 15px;
    font-size: 25px;
    font-family:Arial, sans-serif;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 1.95em;
}

h2{
    text-align:center;
  }

li{
    margin-top: 20px;
}

img{
    display: block;
    width: 100%;
    height: 320px;
    object-fit: cover;
    object-position: center;
  }

.label{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 95%;
    justify-content: space-evenly;
    gap: 10px;
    row-gap: 10px;
}

figure {
    position: relative;
    border: 5px solid #0fb4d1;
    border-radius: 10%;
    overflow: hidden;
    margin: 20px;
}

figcaption {
    text-align: center;
}

@media screen and (min-width: 772px) {
    .grid {
        grid-template-columns: 45% 45%;
    }

    figure {
        display: inline-block;
        border-radius: 100%;
    }

    .grid figure:nth-last-of-type(1) {
        grid-column: 1 / span 2;
    }
}

@media screen and (min-width: 992px) {
    figure {
        display: inline-block;
        border-radius: 0;
    }

    .grid figure:nth-child(3n) {
        grid-column: 1 / span 2;
    }
}

@media all and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

@media all and (prefers-color-scheme: dark) {
  figure figcaption {
    background-color: #000000;
    color: #ffed56;
  }

  figure {
      border: 5px solid #000000;
  }
}
